<div class="card" data-id="{{ recipe.id }}">
    {% load thumbnail %}
    {% thumbnail recipe.image "850x500" crop="center" upscale=True as im %}
        <img class="card-img" src="{{ im.url }}">
    {% endthumbnail %}
    <div class="card__body">
        <a class="card__title link"
           href="{% url 'recipe' recipe.author.username recipe.id %}"
           target="_blank">{{ recipe.title }}</a>
        <ul class="card__items">

            {% for tag in recipe.tag.all %}
                <li class="card__item"><span
                        class="badge badge_style_{{ tag.color }}">
                                {{ tag.title }}
                                </span></li>
            {% endfor %}

        </ul>
        <div class="card__items card__items_column">
            <p class="card__text"><span
                    class="icon-time"></span> {{ recipe.time }} мин.</p>
            <p class="card__text"><span class="icon-user"></span> <a
                    href="{% url 'profile' recipe.author.username %}"
                    style="color: black"> {{ recipe.author.get_full_name }}</a>
            </p>
        </div>
    </div>
    <div class="card__footer">
        {% for purchase in recipe.purchases.all %}
            {% include 'includes/button_purchase.html' with purchase=purchase %}
        {% empty %}
            <button class="button button_style_light-blue" name="purchases"
                    data-out><span class="icon-plus button__icon"></span>Добавить
                в покупки
            </button>
        {% endfor %}
        {% for favorite in recipe.favorites.all %}
            {% include 'includes/button_favorite.html' with favorite=favorite %}
        {% empty %}
            <button class="button button_style_none" name="favorites" data-out>
                <span class="icon-favorite icon-favorite_big"></span></button>
        {% endfor %}
    </div>
</div>
