{% extends 'base.html' %}
{% load static %}
{% load filter %}
{% block title %}Избранное{% endblock %}
{% block css %}<link rel="stylesheet" href="{% static 'pages/index.css' %}">{% endblock %}
{% block menu %}{% include 'includes/nav.html' with favorites=True %}{% endblock %}
{% block content %}
        {% csrf_token %}
        <div class="main__header">
            <h1 class="main__title">Избранное</h1>
            <ul class="tags">
                {% for tag in tags %}
                    <li class="tags__item">
                        <a id="breakfast" class="tags__checkbox tags__checkbox_style_{{ tag.color }}
                        tags__checkbox_{% if tag in objs %}active{% endif %}"
                           href="{% url 'favorites' %}{{ objs|tag_filter:tag }}"></a>
                        <span class="tags__label">{{ tag.title|title }}</span>
                    </li>
                {% endfor %}
            </ul>

        </div>
        <div class="card-list">
            {% for favorite in page %}
                {% include 'includes/recipe_card.html' with recipe=favorite.recipe%}
            {% endfor %}
        </div>

        {% if page.has_other_pages %}
            {% include "includes/paginator.html" with items=page paginator=paginator objs=objs %}
        {% endif %}

{% endblock %}

{% block js %}<script src="{% static 'indexAuth.js' %}"></script>{% endblock %}