{% extends 'base.html' %}
{% load static %}
{% block title %}Рецепты{% endblock %}
{% block css %}<link rel="stylesheet" href="{% static 'pages/single.css' %}">{% endblock %}
{% block menu %}{% include 'includes/nav.html' %}{% endblock %}
{% block content %}
{% csrf_token %}
        <div class="single-card" data-id="{{ recipe.id }}" data-author="{{ recipe.author.id }}">
            {% load thumbnail %}
            {% thumbnail recipe.image "850x500" crop="center" upscale=True as im %}
                <img class="single-card__image" src="{{ im.url }}">
            {% endthumbnail %}
            <div class="single-card__info">
                <div class="single-card__header-info">
                    <h1 class="single-card__title">{{ recipe.title }}</h1>
                    <div class="single-card__favorite">
                        {% if user.is_authenticated %}
                            {% include 'includes/button_favorite.html' with recipe=recipe user=user %}
                            <div class="single-card__favorite-tooltip tooltip">Добавить в избранное</div>
                        {% endif %}
                    </div>
                </div>
                <ul class="single-card__items">
                    {% for tag in recipe.tag.all %}
                        <li class="card__item">
                            <span class="badge badge_style_{{ tag.color }}">{{ tag.title }}</span>
                        </li>
                    {% endfor %}
                </ul>
                <div class="single-card__items single-card__items_column">
                    <p class="single-card__text"><span class="icon-time"></span> {{ recipe.time }} мин.</p>
                    <ul class="single-card__items">
                        <li class="single-card__item"><p class="single-card__text"><span class="icon-user"></span> {{ recipe.author.get_full_name }}</p></li>
                        {% if recipe.author == user %}
                            <li class="single-card__item">  <a style="margin-left: 2.5em" href="{% url 'recipe_edit' recipe.author.username recipe.id %}" class="single-card__text">Редактировать рецепт</a></li>
                        {% endif %}
                    </ul>
                </div>
                <ul class="single-card__items">
                    {% if user.is_authenticated %}
                        {% include 'includes/button_purchase.html' with recipe=recipe user=user %}
                        {% include 'includes/button_follow.html' with following=following %}
                    {% endif %}
                </ul>
                <div class="single-card__section">
                    <h3 class="single-card__section-title">Ингредиенты:</h3>
                    <div class="single-card__items single-card__items_column">
                        {% for ingr in recipe.recipeingredient.all %}
                            <p class=" single-card__section-item">{{ ingr.ingredient.title|capfirst }} - {{ ingr.amount }} {{ ingr.ingredient.dimension }}.</p>
                        {% endfor %}
                    </div>
                </div>
                <div class="single-card__section">
                    <h3 class="single-card__section-title">Описание:</h3>
                    <p class=" single-card__section-text">{{ recipe.text }}</p>
                </div>
            </div>
        </div>

{% endblock %}

{% block js %}
    <script src="{% static '/js/components/Purchases.js' %}"></script>
    <script src="{% static '/js/components/Favorites.js' %}"></script>
    <script src="{% static 'js/components/Subscribe.js' %}"></script>
    <script src="{% static '/js/config/config.js' %}"></script>
    <script src="{% static '/js/components/MainCards.js' %}"></script>
    <script src="{% static 'js/components/SingleCard.js' %}"></script>
    <script src="{% static '/js/components/Header.js' %}"></script>
    <script src="{% static '/js/api/Api.js' %}"></script>
    <script src="{% static 'singlePage.js' %}"></script>
{% endblock %}

